[user]
	name = Jonathan Poelen
	email = jonathan.poelen@gmail.com
	logallrefupdates = true
[core]
	#pager = cat
	#pager = perl -I/usr/share/git/diff-highlight /home/jonathan/game/diff-so-fancy | less
	#pager = delta
	whitespace = -trailing-space

#[apply]
#  whitespace = fix

[diff]
  noprefix = true
  suppressBlankEmpty = true
  indentHeuristic = true
  #wordRegex = .
  mnemonicPrefix = true
  # colorMoved = no default plain zebra dimmed_zebra
  colorMoved = plain

[color]
	diff = auto
	ui = auto
[color "branch"]
	upstream = cyan
[push]
	default = simple
[pull]
	# merges, interactive, true, false
	rebase=merges
[pager]
	branch = false
	diff = delta
	#status = less -FX
[branch]
    autoSetupMerge=always

[delta]
	plus-color = "#012800"
	minus-color = "#340001"
	syntax-theme = ansi-dark

	paging = always
	navigate = false
	inspect-raw-lines = false

	hunk-header-line-number-style=brightyellow
	file-style=brightyellow
	file-decoration-style=ul ol brightyellow

	# minus-style = syntax "#85434a"
	# plus-style = syntax "#728562"
	# minus-style = syntax 95
	# plus-style = syntax 65
	# minus-style = syntax 53
	# plus-style = syntax 17
	minus-style = syntax 236
	plus-style = syntax 0

[interactive]
	diffFilter = delta --color-only
