#-------- General Options ----------

set autoindent
set nowrap
set matchbrackets "(<[{)>]}"
#set mouse
set smarthome
set softwrap
#set atblanks
set tabsize 4
set trimblanks
set historylog
#set indicator

## Key bindings.
## See nanorc(5) for more details on this.
bind ^L mark main
#bind M-L linter main

set statuscolor yellow
set titlecolor white,black
set keycolor white
set numbercolor white,black
set functioncolor white

#include /usr/share/nano/*.nanorc
include ~/.nanosyntax/c.nanorc
include ~/.nanosyntax/python.nanorc
include ~/.nanosyntax/sh.nanorc
include /usr/share/nano/javascript.nanorc
include /usr/share/nano/json.nanorc
include /usr/share/nano/xml.nanorc
include /usr/share/nano/html.nanorc
include /usr/share/nano/css.nanorc
include /usr/share/nano/lua.nanorc
