#-------- General Options ----------

#set autoindent
set nowrap
set matchbrackets "(<[{)>]}"
#set mouse
set smarthome
set softwrap
set tabsize 4
set trimblanks
set historylog

## Key bindings.
## See nanorc(5) for more details on this.
bind ^L mark main

#include /usr/share/nano/*.nanorc
include /usr/share/nano/c.nanorc
include /usr/share/nano/sh.nanorc
include /usr/share/nano/javascript.nanorc
include /usr/share/nano/json.nanorc
include /usr/share/nano/xml.nanorc
include /usr/share/nano/html.nanorc
include /usr/share/nano/css.nanorc
