QTabBar::tab {
  background:#333;
  padding: 0px;
  border: 0px;
}
QTabBar::tab:selected {
  background:#202020;
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #444, stop: 0.1 #202020);
}
