/*
  url OSD on the right
*/

panel[type="arrow"] {
  transition: none !important;
}
#statuspanel-label {
  margin-right: 0px !important;
  padding-right: 5px !important;
}
/* statuspanel[type="overLink"] */
#statuspanel {
  right: 0px !important;
}

/* Remove the delay and transition */
#statuspanel[type=overLink],
#statuspanel[inactive][previoustype=overLink]
{
  transition: none !important;
}



/*
  tab close - always visible
*/

#tabbrowser-tabs .tabbrowser-tab:not([pinned]) .tab-close-button {
  visibility: visible !important;
  display: block !important;
}
#tabbrowser-tabs .tabbrowser-tab:not([pinned])[faviconized="true"] .tab-close-button {
  visibility: collapse !important;
  display: none !important;
}



/*
  auto-hide tabs and toolbar
  https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_toolbox.css
*/

#navigator-toolbox{
  position: fixed !important;
  display: block;
  /*background-color: var(--lwt-accent-color,black) !important;*/
  transform-origin: top;
  line-height: 0;
  z-index: 1;
  -moz-appearance: none !important;
}

#navigator-toolbox > *{
  width: 100vw;
  line-height: normal
}

#navigator-toolbox:not(:focus-within):not(:hover)
/*TODO deactivate the flashing of bars when opening a tab with Tridactyl
:has() isn't yet supported...
https://developer.mozilla.org/en-US/docs/Web/CSS/:has
#navigator-toolbox:has(>#nav-bar:hover)
or
#navigator-toolbox:has(#nav-bar:hover)
*/
{
  transform: rotateX(86deg);
  opacity: 0;
}

/*:root[sizemode="maximized"] #navigator-toolbox:not(:focus-within):not(:hover){ transform: rotateX(89.5deg) }*/

:root[customizing] #navigator-toolbox{
	position: relative !important;
	transform: none !important;
	opacity: 1 !important;
}

#nav-bar {
  margin-bottom: -11px !important;
  padding-bottom: 12px !important;
}

/*
browser.urlbar.update1 = false
or
https://support.mozilla.org/de/questions/1283831dsds
*/
