page {
  background: #333!important;
  color: #ccc!important;
}

/* Server not found*/

html[hasBrowserHandlers="true"] body {
  background-color: #333!important;
  color: #c3c3c3!important
}

#errorTitleText {
  color: #cc9!important;
}

#errorTryAgain {
  background:#666!important;
  color: #ccc!important
}
#errorTryAgain:hover, #errorTryAgain:focus {
  background:#777!important;
}

/* Addon */

#addons-page {
  /*background: #544!important;*/
  background: #333!important;
}

#header-utils-btn, #header-search, .addon-control {
  background: #ddd!important;
}

#header-utils-btn:focus, #header-search:focus, .addon-control:focus
#header-utils-btn:hover, #header-search:hover, .addon-control:hover {
  background: #eee!important;
}

hbox.textbox-input-box>input.textbox-input {
  background: #ccc!important;
}

richlistitem.addon{
  color: #ccc!important;
}

richlistitem.addon[selected]{
  /*background: #433!important;*/
  background: #555!important;
  color: #ccc!important;
}

richlistitem.addon[active="false"][selected]{
  /*background: #433!important;*/
  background: #555!important;
}

hbox#detail-desc-container, vbox#detail-summary, rows#detail-rows {
  text-shadow:none!important;
  color: #ccc!important;
}


/* General */

html {
  font-feature-settings: "liga" 0;
}

/*html{
  background-color:#1c1c1c;
  color:#c3c3c3;
}*/

/*a {
  color: #587CD6;
}*/

/*input, textarea, select, option {*/
  /*color: #eee;*/
  /*background: #686868;*/
  /*background: #666;*/
/*}*/


/* Wikipédia fr: fix width */
body.skin-vector-max-width #mw-panel {
  left:0em!important;
  padding-left:0!important;
}
body.skin-vector-max-width .mw-workspace-container {
  max-width:100%!important;
}
body.skin-vector-max-width .mw-page-container { 
  padding:0 0 0 11em !important;
  max-width:100%!important;
}
body.skin-vector-max-width .mw-content-container {
  max-width:100%!important;
  margin-left:11em!important;
}
body.skin-vector-max-width .mw-page-container {
  padding:0!important;
}
