/*
  status panel / URL OSD
*/

/*
https://github.com/mozilla/gecko-dev/blob/master/browser/themes/linux/browser.css
https://github.com/mozilla/gecko-dev/blob/master/browser/base/content/browser.css
https://github.com/mozilla/gecko-dev/blob/master/browser/base/content/main-popupset.inc.xhtml
*/

/* Remove the delay and transition */
#statuspanel[type="overLink"],
#statuspanel[inactive][previoustype="overLink"]
{
  transition: none !important;
}

/* status to the right */

#statuspanel-label {
  margin-left: 0 !important;
  margin-right: 53px !important; /* tridactyl status */
  padding-left: 5px !important;
  padding-right: 5px !important;
}

#statuspanel {
  width: 100% !important;
  margin: 0 !important;
  text-align: right !important;
  right: 0 !important;
}

#statuspanel[sizelimit] {
  max-width: calc(100% - 5px) !important; /* 5px for scrollbar */
}

#statuspanel[mirror] {
  text-align: left !important;
  left: 0 !important;
}

#statuspanel > #statuspanel-label {
  border-left-style: solid;
  border-top-right-radius: 0 !important;
  border-top-left-radius: .3em !important;
}

#statuspanel[mirror] > #statuspanel-label {
  opacity: 0.6;
  border-right-style: solid;
  border-top-left-radius: 0 !important;
  border-top-right-radius: .3em !important;
}


/*
  tab close - always visible
*/

#tabbrowser-tabs .tabbrowser-tab:not([pinned]) .tab-close-button {
  visibility: visible !important;
  display: block !important;
}
#tabbrowser-tabs .tabbrowser-tab:not([pinned])[faviconized="true"] .tab-close-button {
  visibility: collapse !important;
  display: none !important;
}



/*
  auto-hide tabs and toolbar
  https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/autohide_toolbox.css
*/

:root{
  --uc-autohide-toolbox-delay: 200ms; /* Wait 0.1s before hiding toolbars */
  --uc-toolbox-rotation: 82deg;  /* This may need to be lower on mac - like 75 or so */
}

:root[sizemode="maximized"]{
  --uc-toolbox-rotation: 88.5deg;
}

:root[sizemode="fullscreen"],
#navigator-toolbox[inFullscreen]{ margin-top: 0 !important; }

#navigator-toolbox{
  position: fixed !important;
  display: block;
  transition-delay: var(--uc-autohide-toolbox-delay) !important;
  transform-origin: top;
  transform: rotateX(var(--uc-toolbox-rotation));
  opacity: 0;
  line-height: 0;
  z-index: 1;
  pointer-events: none;
}


/* #mainPopupSet:hover ~ box > toolbox, */
/* Uncomment the above line to make toolbar visible if some popup is hovered */
#navigator-toolbox:hover,
#navigator-toolbox:focus-within{
  transition-delay: 33ms !important;
  transform: rotateX(0);
  opacity: 1;
}

#navigator-toolbox > *{ line-height: normal; pointer-events: auto }

#navigator-toolbox,
#navigator-toolbox > *{
  width: 100vw;
  -moz-appearance: none !important;
}

/* These two exist for oneliner compatibility */
#nav-bar{ width: var(--uc-navigationbar-width,100vw) }
#TabsToolbar{ width: calc(100vw - var(--uc-navigationbar-width,0px)) }

/* Don't apply transform before window has been fully created */
:root:not([sessionrestored]) #navigator-toolbox{ transform:none !important }

:root[customizing] #navigator-toolbox{
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
}

#navigator-toolbox[inFullscreen] > #PersonalToolbar,
#PersonalToolbar[collapsed="true"]{ display: none }
